html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	background-image: url("Background9.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: Verdana, sans-serif;
}
h1 {
	text-align: center;
	font-size: 45px;
	color: brown;
	margin-top: -100px;
	width: 100%;
}
h2 {
	text-align: center;
	font-size: 50px;
	color: white;
	margin-top: 150px;
}
p {
	text-align: center;
	font-size: 17px;
	color: white;	
}



.social_links{
	display: flex;
	justify-content: flex-end;
}
.social_links a{
	height: 60px;
	width: 60px;
	margin: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	background-color: black;
	border-radius: 50%;
	transition: none;
}
.social_links i{
	font-size: 30px;
	color: rgb(77, 113, 119);
	transition: transform 1s;
}
.social_links a:hover{
	box-shadow: inset 6px 6px 8px -2px rgb(168, 179, 172), inset -6px -6px 8px -2px rgb(193, 211, 214), 0px 12px 10px -10px rgb(124, 146, 143);
	transform: translateY(3px);
}
.social_links i:hover{
	transform: scale(0.85);
}


section{
	padding: 300px 20px;
	margin: 0px;
}
.section1{
	height: 100%;
}
.section2{
	padding: 200px;
	margin: 100px;
}
.section3{
	padding: 200px;
	margin: 150px;
}
.section4{
	padding: 100px;
	margin: 100px;
}



.navbar {
	margin-block: 20px;
	width: 100%;
	background-color: grey;
	overflow: hidden;
	z-index: 1000;
}
.navbar ul {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: flex-start;
}
.navbar li {
	float: left;
	height: 53px;
	font-size: 20px;
}
.navbar a {
	height: 100%;
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
	align-items: center;
	padding: 15px;
}
.navbar a:hover {
	background-color: darkred;
}



.projects-grid{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: nowrap;  /* Ensure projects stay in a single row */
    overflow-x: no;   /* Allow horizontal scrolling if needed */
    padding: 50px 0;    /* Add some padding for better spacing */
}



.crateninja {
    flex: 0 0 auto;
    width: 300px; 
    height: 300px;      
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background: #000;
    transition: transform 0.3s;
}
.crateninja h3{
	color: yellow;
	margin-top: 0px;
	padding: 0px;
	height: 5%;
	text-align: center;
}
.crateninja a{
	text-decoration: none;
}
.crateninja img{
	margin: 0px;
	padding: 0px;
	height: 270px;
	width: 300px;
}



.flaptofreedom {
    flex: 0 0 auto;     /* Prevent projects from shrinking */
    width: 300px; 
    height: 300px;      /* Set a fixed width for each project */
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background: #000;
    transition: transform 0.3s;
}
.flaptofreedom a{
	text-decoration: none;
}
.flaptofreedom img{
	margin: 0px;
	padding: 0px;
	height: 270px;
	width: 300px;
}
.flaptofreedom h3{
	color: yellow;
	margin-top: 0px;
	padding: 0px;
	height: 5%;
	text-align: center;
}



form{
	max-width: 600px;
	margin: 0 auto;
	padding: 1em;
	background: #f9f9f9;
	border-radius: 5px;
}
.form-group{
	margin-bottom: 1em;
}
label{
	display: block;
	margin-bottom: .5em;
}
input, textarea{
	border: 1px solid #ccc;
	padding: .5em;
	font-size: 1em;
	width: 100%;
	box-sizing: border-box;
}
button{
	padding: 0.7em;
	color: #fff;
	background-color: #007BFF;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
button:hover{
	background-color: #0056b3;
}